.key {
  width: 70px;
  height: 50px;
  color:black;
  border-style: solid;
  border-radius: 10px;
}

#operator > .spacing > li > .key {
  background-color: rgb(253,240,247);
}

#screen > .spacing > li > .key {
  background-color: rgb(255,160,168);
}

#screen > .spacing > li > .key {
  background-color: rgb(255,160,168);
}

#numbers > .spacing > li > .key {
  background-color: white;
}

#numbers > .spacing > li > #green > .key {
  background-color: rgb(245,251,151);
}

ul.spacing {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

ul.spacing > li {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

ul.spacing > li:last-child {
  margin-right:0px;
}

#background {
  width: 330px;
  height: 297px;
  background: rgb(155,211,235);
}

#keypad {
  width: 312px;
  height: 218px;
  padding: 10px;
}

#screen {
  width: 312px;
  height: 38px;
  padding: 10px;
}

#numbers {
  width: 230px;
  height: 218px;
  float: left;
}

#operator {
  width: 70px;
  height: 217px;
  float: left;
  padding-left: 10px;
}

#display {
  width: 207px;
  height: 25px;
  background: rgb(123,168,187);
  padding: 10px;
}

#clear {
  width: 70px;
  height: 50px;
  background-color: rgb(255,156,171);
  color:white;
  border-style: solid;
  border-radius: 10px;
}

#operator {
  width: 50px;
  height: 100px;
  float: left;
}
