p {
  background-color: black;
}



#appWrapper {
}

#form {
  width: 900px;
}

#options {
  width: 900px;
}

.set {
  width: 900px;
  height: 50px;
  display:block;
}

.row {
  margin: 0px;
  padding: 0px;
  list-style-type:none;
}

.columnNum {
  float:left;
  margin-right: 30px;
}

.columnName {
  float:left;
  margin-right: 95px;
}

.columnProb {
  float:left;
  margin-right: 60px;
}

.columnColor {
  float:left;
  margin-right: 73px;
}

.columnCol {
  float:left;
  margin-right: 30px;
}
.columnCol input[type=text]{
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      border:1px solid #BEBEBE;
      -webkit-transition: all 0.30s ease-in-out;
      -moz-transition: all 0.30s ease-in-out;
      -ms-transition: all 0.30s ease-in-out;
      -o-transition: all 0.30s ease-in-out;
      outline: none;
}

.columnCol input[type=text]:focus{
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}
