p {
  background-color: black;
}

#key,#submit {
    background-color: #4CAF50; /* Green */
    border: white;
    color: white;
    font-size: 8px;
    padding: 5px;
    margin-right: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
}

#key:hover,#submit:hover {
     background-color: white;
     color: black;
     border: #4CAF50;
}

#wheelSet{
  margin-bottom: 10px;
  margin-top: 10px;
}

#app-wrapper {
  width: 990px;
  height: 1000px;
}

#formBox{
  width: 433px;
  1height: 262px;
  float: left;
}

#form {
  float: left;
  background-color: rgb(132,140,242);
  width: 423px;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 10px;
}

#options {
  width: 432px;
  padding-left: 300px;
  padding-top: 15px;
  height: 55px;
  background-color: rgb(56,36,200);
  box-sizing: border-box;
  float: left;
  border-radius: 5px;
}

#wheelbox {
  float: left;
      position: relative;
      width: 282px;
      height: 235px;
      padding-top: 26px;
      padding-left: 63px;
}

#triangle-left {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-right: 50px solid red;
  border-bottom: 25px solid transparent;
  position: absolute;
  top: 99px;
  left: 262px;
}

#panel {
  float: left;
  width: 210px;
  height: 300px;
  background: #D3D3D3;
  overflow:scroll;
}

.set,.setInit {
  height: 40px;
  display:block;
}

.row {
  margin: 0px;
  padding: 0px;
  list-style-type:none;
}

.columnNum {
  float:left;
  margin-right: 30px;
}

.columnName {
  float:left;
  margin-right: 95px;
}

.columnProb {
  float:left;
  margin-right: 50px;
}

.columnColor {
  float:left;
}

.columnCol {
  float:left;
  margin-right: 30px;
  position: relative;
}
input[type=text]{
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      border:1px solid #BEBEBE;
      -webkit-transition: all 0.30s ease-in-out;
      -moz-transition: all 0.30s ease-in-out;
      -ms-transition: all 0.30s ease-in-out;
      -o-transition: all 0.30s ease-in-out;
      outline: none;
}

input[type=text]:focus{
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}

.remove{
  border: #0000A0 solid 1px;
  position:absolute;
  top:4px;
  color:white;
  background-color: #0000A0;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.remove:hover{
  color:#0000A0;
  background-color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.input{
  background: white;
}

.sector:hover {
  stroke: blue;
}

/* dropdown menu*/

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width:180px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    margin: 5px 0px 0px 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}
