p {
  background-color: black;
}



#appWrapper {
}

#form {
  width: 900px;
}

#options {
  width: 900px;
}

.set {
  height: 50px;
  width: 900px;
}

.row {
  margin: 0px;
  padding: 0px;
  list-style-type:none;
}

.columnNum {
  float:left;
  margin-right: 30px;
}

.columnName {
  float:left;
  margin-right: 95px;
}

.columnProb {
  float:left;
  margin-right: 60px;
}

.columnColor {
  float:left;
  margin-right: 73px;
}

.columnCol {
  float:left;
  margin-right: 30px;
}
